<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 标题 -->
    <title><block name="title">标题</block></title>
<!--  <link rel="shortcut icon"href="__PUBLIC__/img/Common/admin.ico">-->     

			 <!-- Custom Theme files -->
		<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
		<link href="__PUBLIC__/css/site.css" rel="stylesheet">
		
   		 <!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 样式表文件 -->
<block name="css"></block>
</head>
<body>
<!-- 头文件 -->
    
    <include file="public/header" />	
    <!-- 内容页 -->

        <block name="main"></block>
        
        <!-- 脚文件 -->
        <include file="public/footer" />	

</body>
</html>
    <script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
   
<!-- javascript文件 -->
<block name="js"></block>